@charset "utf-8";
/* ----- NEW CSS ----- */
/* 
	author:	 Daniel Ionescu
	email:	 daniel.ionescu@arnia.ro
*/
body {
	margin: 0;
}

#wiki .cleared {
	clear: both;
}

#wiki * {
	font-family: Arial, Helvetica, sans;
}

#wiki {
	font-size: 13px;
	color: #000;
	min-width: 980px;
}

#wiki a {
	color: #1780ab;
}

#wiki a img {
	border: none;
}

#wiki p {
	line-height: 20px;
}

#wikiHeader {
	background: #424242;
	border-bottom: 1px solid #8a8a8a;
	padding: 10px;
}

#wikiHeader h1 {
	float: left;
	margin: 0;
}

#wikiHeader h1 a {
	color: #fff;
	text-decoration: none;
}

.wikiButton {
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	background: #f1f1f1;
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(228,228,228)),
		color-stop(1, rgb(255,255,255))
	);
	background-image: -moz-linear-gradient(
		center bottom,
		rgb(228,228,228) 0%,
		rgb(255,255,255) 100%
	);
	border: 3px solid #7e7e7e;
	line-height: 30px;
	padding: 7px 4px;
	margin: 2px;
}

.wikiButton:active {
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(255,255,255)),
		color-stop(1, rgb(228,228,228))
	);
	background-image: -moz-linear-gradient(
		center bottom,
		rgb(255,255,255) 0%,
		rgb(228,228,228) 100%
	);
	box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.4);
}

.wikiButton:hover {
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(255,255,255)),
		color-stop(1, rgb(228,228,228))
	);
	background-image: -moz-linear-gradient(
		center bottom,
		rgb(255,255,255) 0%,
		rgb(228,228,228) 100%
	);
}

.wikiButton img, .wikiButtonAdmin  img {
    margin: 0 0 0 10px;
    position: relative;
    top: 5px;
}

.wikiButton span {
	padding: 10px;
	color: #000;
	font-weight: bold;
}

.wikiButtonAdmin {
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	background: #c40000;
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(170,0,0)),
		color-stop(1, rgb(226,0,0))
	);
	background-image: -moz-linear-gradient(
		center bottom,
		rgb(170,0,0) 0%,
		rgb(226,0,0) 100%
	);
	border: 3px solid #8f1212;
	line-height: 30px;
	padding: 7px 4px;
	margin: 2px;
}

.wikiButtonAdmin:active {
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(226,0,0)),
		color-stop(1, rgb(170,0,0))
	);
	background-image: -moz-linear-gradient(
		center bottom,
		rgb(226,0,0) 0%,
		rgb(170,0,0) 100%
	);
	box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.3);
}

.wikiButtonAdmin:hover {
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(226,0,0)),
		color-stop(1, rgb(170,0,0))
	);
	background-image: -moz-linear-gradient(
		center bottom,
		rgb(226,0,0) 0%,
		rgb(170,0,0) 100%
	);
}

.wikiButtonAdmin span {
	padding: 10px;
	color: #fff;
	font-weight: bold;
}

a.wikiButtonAdmin, a.wikiButton  {
	text-decoration: none;
}

#wiki #navMenu {
	float: right;
	list-style-type: none;
	margin: 4px 0 0 0;
}

#wiki #navMenu  li {
	float: left;
}

#leftSideTreeList {
	float: left;
	width: 250px;
	margin-left: -250px;
	border-right: 1px solid #dfdfdf;
}

#leftSideTreeList ul {
	margin: 5px;
	padding: 0 0 0 20px;
}

#leftSideTreeList ul li {
	margin: 8px 0;
}

#leftSideTreeList ul a {
	text-decoration: none;
}

#leftSideTreeList h3 {
	font-size: 18px;
	font-weight: normal;
	border-bottom: 1px dotted #b9b8b8;
	padding-bottom: 4px;
	margin: 8px;
}

#wikiSearch {
	height: 50px;
	overflow: hidden;
}

#wikiSearchText {
	padding: 8px 35px 6px 9px;
	margin: 8px;
	width: 188px
}

#wikiSearchButton {
	position: relative;
	top: -32px;
	left: 217px;
	background: url('../img/search_button.png') 0 0 no-repeat;
	border: 0;
	width: 16px;
	height: 16px;
}

#wikiSearchButton:hover {
	background: url('../img/search_button.png') -16px 0 no-repeat;
	cursor: pointer;
}

#wikiSearchButton:focus {
	background: url('../img/search_button.png') -16px 0 no-repeat;
	top: -31px;
	left: 218px;
	outline: none;
	-moz-outline-style: none;
}

#wikiSearchButton:active {
	outline: none;
}


#wikiBody {
	padding-left: 250px;
}

#wikiTitleArea {
	background: #f4f4f4;
	border-bottom: 1px solid #dfdfdf;
	padding: 10px;
}

#wikiTitleArea p {
	margin: 7px 0;
}

#wikiFooter {
	text-align: right;
	padding: 10px;
	border-top: 1px solid #dfdfdf;
	border-bottom: 1px solid #dfdfdf;
	background: #f8f8f8;
}

#wikiToP {
	padding: 0 0 0 14px;
	background: url('../img/icon_arrow_top.png') 0 0 no-repeat;
}